<h1>Tu es bien logué</h1>

<p> Félicitation encore, tu es vraiment un sacré boss. Maintenant tu vas pouvoir voir la liste des évènements déjà créés par des utilisateurs et tu vas pouvoir y participer.  </p>

<p> Clique <a href="/events/index.html">ici</a> si tu veux aller voir les évènements qui existent et pourquoi pas y participer </p>

<p> Clique <a href="page2.htm">ici</a> si tu veux créer un évènement </p>
